.git
.vscode

node_modules
**/node_modules

frontend/.next
backend/dist
packages/*/dist
coverage

.env
.env.*
**/.env
**/.env.*

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
